:root {
  --white: #FFFFFF;
  --dark-grey: #48484A;
  --grey: #ACACAC;
  --light-grey: #F1F1F1;
  --smoke-grey: #D3D3D3;
  --wind-grey: #E6E6E6;
  --night-mode-main: #100E1C;
  --night-mode-rest: #212331;
  --night-mode-circle: #EC6E4D;
  --night-mode-support-elements: #6D6D6D;
  --font-family-rubik: 'Rubik', sans-serif;
  --font-weight-black: 900;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --font-size-very-small: 0.9em;
  --font-size-small: 1em;
  --font-size-medium: 1.1em;
  --font-size-x-medium: 1.2em;
  --font-size-xx-medium: 1.3em;
  --font-size-large: 1.5em;
  --font-size-x-large: 2em;
  --font-size-xx-large: 2.5rem;
  --font-size-xxx-large: 4rem;
  --border-radius: 10px;
  --border-radius-round: 20px;
  --sidebar-width: 460px;
  --sidebar-mobile-height: 667px;
  --sidebar-height: 720px;
  --search-input-width: 250px;
  --forecast-width: 980px;
  --today-card-height: 181px;
}